@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .login-btn {
    @apply font-medium border-[1px] border-white px-7 py-2 rounded-md;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-purple-400 via-violet-300  to-orange-400 bg-clip-text text-transparent;
  }
}

.navbar-glow {
  position: relative;
  box-shadow: 0 2px 15px rgba(134, 85, 255, 0.4);
}
